*.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
*.pyc
dotNetExamples/Examples/Examples/bin/
dotNetExamples/Examples/Examples/obj/
dotNetExamples/Examples/.vs/Examples/v15/.suo